@model IEnumerable<MiniStructorDB.Class>

@{
    ViewData["Title"] = "User Class History";
    var length = User.Identity.Name.IndexOf("@");
}

<h1>@User.Identity.Name.Substring(0, length) Class History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
        </tr>
}
    </tbody>
</table>
