@model IEnumerable<MiniStructorDB.Class>;


<h1>Classes Aviliable</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassPrice)
            </th>
            <th>
                Register
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                <p>@item.ClassPrice.ToString("C")</p>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Register" asp-route-classId="@item.ClassId">Register</a>
            </td>
        </tr>
}
    </tbody>
</table>
